*{
  font-family: poppins;
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #D4A675;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
  padding-top: 50px;
}

.logo{
  cursor: pointer;
  margin-left: 10%;
  width: 160px;
  height: 150px;
  margin-top: -5%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}


.container{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  }

  .tekstboksen{
  width: 100%;
  height: 200px;
  padding: 10px 25px;
  background-color: #458284;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 40px;
}


footer{
  height: auto;
  background-color: #F4F3F1;
}

.fa {

    color: black;
    margin-right: 100px;

}
.boksen{
  font-size: 10px;
  color: #707070;
  text-align: center;
}

.boksen10{
  font-size: 10px;
  color: #707070;
  text-align: center;
  margin-left: 150px;
  margin-bottom: auto;
}

.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

h3{
  text-align: center;
  font-size: 25px;
}
p1{
  font-size: 20px;
  color: #707070;
}

.facebook{
  font-size: 80px;
  margin-top: 15%;
  padding-left: 25%;
}

.tilmeld{
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.cta3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.email{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  width: 85%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
/*
footer{
  height: auto;
  background-color: #F4F3F1;
}

.fa {
    color: black;
    margin-right: 100px;
}

.boksen{
  font-size: 10px;
  color: #707070;
  text-align: center;
}

.boksen10{
  font-size: 10px;
  color: #707070;
  text-align: center;
  margin-left: 150px;
  margin-bottom: auto;
}

.containerfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}

h3{
  text-align: center;
  font-size: 25px;
}
p1{
  font-size: 20px;
  color: #707070;
}

.facebook{
  font-size: 80px;
  margin-top: 15%;
  padding-left: 25%;
}

.tilmeld{
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.cta3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.email{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  width: 85%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
*/
