*{
  font-family: poppins;
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #D4A675;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
  padding-top: 50px;
}

.logo{
  cursor: pointer;
  margin-left: 10%;
  width: 160px;
  height: 150px;
  margin-top: -5%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

h1{
font-size: 25px;
margin-left: 5%;
align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  }

/* OVERSKRIFT */

  .tekstboksen1{
  width: 1200px;
  height: 100px;
  padding: 10px 25px;
  background-color: #69285D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 30px;
}

/* FAKTABOKS */

.infobox{
  width: 300px;
  height: 260px;
  border: 1px solid black;
  background-color: #F4F3F1;
  margin-left: 55%;
  margin-top: 9%;
  color: #707070
  padding-left: 20px;
  padding-right: 30px;
  text-align: center;
}


img{
  width: 115%;
  margin-top: 10%;
}
.logom{
  width: 500px;
  height: 300px;
  margin-left: 7%;
  margin-top: -14%;

}


/* TEKST UNDER BILLEDE */

.information{
  display: flex;
  flex-direction: column;
  color: black;
  padding-left: 94px;
  padding-right: 410px;
  margin-top: 5%;
}

/* KNAPPER */

.BtnBlue{
  display: block;
  padding: 15px 70px;
  font-size: 15px;
  border-radius: none;
  box-shadow: 2px 4px 8px #383434b2;
  background-color: #458284;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  text-decoration: none;

}

.BtnBlue:hover {
  background-color: #64A295;
}

.knapper12{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 94px;
  padding-right: 410px;
}
.BtnBrown {
  display: block;
  padding: 15px 70px;
  color: white;
  font-size: 15px;
  border-radius: none;
  box-shadow: 2px 4px 8px #383434b2;
  background-color: #69285D;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  text-decoration: none;

}

.BtnBrown:hover {
  background-color: #EAC398;
}
