*{
  font-family: poppins;
  margin: 0;
}
li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #D4A675;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
  padding-top: 50px;
}

.logo{
  cursor: pointer;
  margin-left: 10%;
  width: 160px;
  height: 150px;
  margin-top: -5%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

h1{
font-size: 25px;
margin-left: 5%;
align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  }

  .tekstboksen{
  width: 100%;
  height: 200px;
  padding: 10px 25px;
  background-color: #69285D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 40px;
}

.tekstboksen1 p{
  display: flex;
  flex-direction: column;
  color: #707070;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
text-align: center;
font-size: 20px;
}


.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px  sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}

.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text],
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  outline: none;
}
.form-style .long{
  width: 100%;
}
