*{
  font-family: poppins;
  margin: 0;
}
li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #D4A675;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
  padding-top: 50px;
}

.logo{
  cursor: pointer;
  margin-left: 10%;
  width: 160px;
  height: 150px;
  margin-top: -5%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

h1{
font-size: 25px;
margin-left: 5%;
align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  }


.row{
  background-color: #405C84;
  border-radius: 10px;
  margin: auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 150px;
  padding-bottom: 13px;


  }

.tekstboksen{
  width: 100%;
  height: 200px;
  padding: 10px 25px;
  background-color: #E2E0DB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.tekstboksen h1{
  width: 1000px;
  color: black;
  font-weight: bold;
  background-color: #E2E0DB;
  font-family: poppins;
  font-size: 30px;
  text-align: center;
  }

.tekstboksen p{
  background-color: #E2E0DB;
  font-weight: normal;
  font-family: poppins;
  font-size: 20px;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: poppins;
  border-radius: 10px;
  }

input[type=submit] {
  background-color: #ffffff;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: poppins;
  font-weight: bold;
  color: #3B4B61;
  border-radius: 10px;
  }

input[type=submit]:hover {
  background-color: #F1EFE8;
  }

.container2{
  border-radius: 5px;
  padding: 10px;
  font-family: poppins;
  color: #FFFFFF;
  background-color: #F1EFE8;
  }

.column {
  width: 75%;
  margin-top: 6px;
  padding: 20px;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
  }

.kontaktformular h1{
  font-family: poppins;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 50px;
  }

.kontaktformular h2 {
  font-family: poppins;
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 30px;
  }

  .kasse1 {
    width: 150px;
    height: 40px;
    background-color: #284773;
    float: right;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
  }

  .kasse2 {
    width: 150px;
    height: 40px;
    background-color: #FFFFFF;
    float: right;
    border-radius: 0px 10px 10px 0px;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
  }

  .lokation{
    color: white;
    padding: 18px;
    font-size: 2.5rem;
  }

  .telefon{
    color: white;
    padding: 18px;
    font-size: 2.5rem;
  }

  .kontortid{
    color: white;
    padding: 18px;
    font-size: 2.5rem;
  }

  .container3{
    display: flex;
    justify-content: center;
    background-color: #C35C5C
  }

  .far{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .barn{
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }

  .overskrift{
    color: #FFF4F4;
    display: flex;
    align-content: center;
    margin-left: 500px;
  }

  .tekst-boks1{
    width: 350px;
    padding: 10px 25px;
    border-radius: 10px;
    padding-bottom: 90px;
    text-align: center;
  }

  .tekst-boks1 p{
    color: #FFF4F4;
    line-height: 30px;
    text-align: center;
  }

  .tekst-boks1 h3{
    color: #FFF4F4;
  }
