*{
  font-family: poppins;
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #D4A675;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
  padding-top: 50px;
}

.logo{
  cursor: pointer;
  margin-left: 10%;
  width: 160px;
  height: 150px;
  margin-top: -5%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

h1{
font-size: 25px;
margin-left: 5%;
align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  }

  .tekstboksen{
  width: 100%;
  height: 200px;
  padding: 10px 25px;
  background-color: #458284;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 40px;
}





.section {
  margin-top: 195px;
}

.maindiv {
  width: 1200px;
  height: 278;
  min-width: 1200px;
  background-color: #f4f3f1;
  box-shadow: 0 14px 60px 0 rgba(0, 0, 0, 0.21);
}


.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin top: 0px;
  margin-bottom: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.programdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 75px;
  margin-top: 30px;
  padding-right: 35px;
  padding-left: 35px;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #69285d;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'open sans', sans-serif;
  color: #fff;
  font size: 23px;
  font-weight:600; 
}
