*{
  font-family: poppins;
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #D4A675;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
  padding-top: 50px;
}

.logo{
  cursor: pointer;
  margin-left: 10%;
  width: 160px;
  height: 150px;
  margin-top: -5%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

h1{
font-size: 25px;
margin-left: 5%;
align: center;
}

.box1{
  display: flex;
  flex-direction: column;
  color: #707070;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10%;
text-align: center;
}

.boks video {
    height: auto;
    width: 100%;
    margin-top: 0;
  }

.box2{
  width: 350px;
  height: 200px;
  border: 1px solid black;
  background-color: #458284;
  margin-left: 10%;
  margin-top: 10%;
}
.box3{
  width: 350px;
  height: 200px;
  border: 1px solid black;
  background-color: #D4A675;
  margin-left: 40%;
  margin-top: -14%;
}
.box4{
  width: 350px;
  height: 200px;
  border: 1px solid black;
  background-color: #69285D;
  margin-left: 70%;
  margin-top: -14%;
}

p{
    font-size: 20px;
    color: white;
    margin-top: 15%;
    text-align: center;
    margin-right: 40px;
}

footer{
  height: auto;
  background-color: #F4F3F1;
}

.fa {

    color: black;
    margin-right: 100px;

}
.boksen{
  font-size: 10px;
  color: #707070;
  text-align: center;
}

.boksen10{
  font-size: 10px;
  color: #707070;
  text-align: center;
  margin-left: 150px;
  margin-bottom: auto;
}

.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

h3{
  text-align: center;
  font-size: 25px;
}
p1{
  font-size: 20px;
  color: #707070;
}

.facebook{
  font-size: 80px;
  margin-top: 15%;
  padding-left: 25%;
}

.tilmeld{
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.cta3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.email{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  width: 85%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
