*{
  font-family: poppins;
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 15px;
  color: #D4A675;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
}

.logo{
  cursor: pointer;
  margin-right: 300px;
  width: 160px;
  height: 150px;
  padding-top: 15px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

h1{
font-size: 25px;
margin-left: 10%;
align: center;
}
.container1{
  display: flex;
  justify-content: space-around;
  background-color: #F1EFE8;
}
.box1{
  display: flex;
  flex-direction: column;
  color: #707070;
  padding-top: 40px;
  padding-bottom: 40px;
  align: center;
}


footer{
  height: auto;
  background-color: #F4F3F1;
}


.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}



.boksen{
  display: flex;
  flex-direction: column;
  color: #707070;
  padding-top: 40px;
  padding-bottom: 40px;
}

.boksen .logo-footer{
  width: 160px;
  height: 100px;
  padding-top: 60px;
}

.facebook{
  color: #FFF4F4;
  font-weight: regular 400;
}

.tilmeld{
  width: 100%;
  background-color: #F4F3F1;
  border-radius: 10px;
}

.email{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  width: 85%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
