/* --- UNIVERSAL STYLING  --- */
* {
  font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    color: #383434;
  
  }
  
  h1, a, h2, h3, h4{
    font-family: Poppins, sans-serif;
    color: #383434;
    
  }
  
  p {
    font-family: Poppins, sans-serif;
    color: white;
    font-weight: 300;
    font-style: normal;
    color:#383434;
  }
  
  
  /* --- Flexbox  --- */
  .flexWrapper {
    display: flex;
  }
  
  
  /* --- Aside nav wrapper  --- */
  .asideWrapper {
      height: 100%;
      min-width: 20%;
      background-color: #BA563E;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      display: flex;
      z-index: 100;
  }
  
  
  /* --- Aside NAV  --- */
  .navWrapper ul {
    margin-left: 15px;
    list-style: none;
  }
  
  .navWrapper ul li {
    margin: 25px 5px;
  }
  
  .navWrapper ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
  }
  
  .navWrapper ul li a:after,
  .navWrapper ul li a:before {
    transition: all 0.5s;
  }
  
  .navWrapper ul li a:hover {
    color: #fff;
  }
  
  /* stroke */
  .navWrapper ul li a {
    position: relative;
  }
  
  .navWrapper ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    content: ".";
    color: transparent;
    background: #fff;
    height: 2px;
  }
  
  .navWrapper ul li a:hover:after {
    width: 70%;
  }
  
  /* --- Aside LOGO  --- */
  .asideWrapper img {
    position: absolute;
    width: 50%;
    height: 130px;
    top: 0;
  }
  
  /* --- main wrapper  --- */
  .mainWrapper {
    position: relative;
    left: 20%;
    height: auto;
    max-width: 100%;
    background-color: #F8F7F7;
  }

  
  /* --- First section / Landing section  --- */
  .landingSection {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #F8F7F7;
    margin-bottom: 50px;
    margin-left: 0px;
    overflow: hidden;
    font-family: proxima-nova, sans-serif;
  }

  .uclLogo{
    height: 10%;
    width: 20%;
    margin: -450px 0px 0px 40px;
  }
  
  .landingSection h1, h2 {
    font-size: 40px;
    color: #383434;
    margin-left: 10%;
    font-family: proxima-nova, sans-serif;
  }
  
  .landingSection h3 {
    font-size: 20px;
    color: #383434;
    margin-left: 10%;
    font-family: proxima-nova, sans-serif;
  }
  
  .landingSection p {
    font-size: 20px;
    line-height: 25px;
    color: #383434;
    margin-left: 10%;
    margin-right: 10%;
    font-family: proxima-nova, sans-serif;
  }

/* --- Typografi  --- */
  
  .typoBorder {
      padding-bottom: 5%;
      border-bottom: 2px solid white;
      }
  
  
  .typoSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    font-family: proxima-nova, sans-serif;
    margin-top: 5%;
  }
  
  .typoSection h1 {
    margin-top: 60px;
    margin-bottom: 3%;
    font-size: 40px;
    width: 100%;
    color: #383434;
  }
  
  .typoSection article {
    width: 35%;
  }
  
  .typoSection article h2 {
    color: #383434;
    margin-top: 10%;
    font-size: 40px;
  }
  
  .typoSection article h3 {
    color: #383434;
    margin-top: 10%;
  }
  
  .typoSection article hr {
    width: 60%;
  }
  
  .typoSection article p {
    color: #383434;
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  
  
  #ekstypografi{
    font-size: 30px;
  }
  
  #eksoverskrift{
    font-size: 20px;
  }
  
  #eksparagraf{
  font-size: 16px;
  }
  
  #fontdl{
    cursor: pointer;
    display: inline-block;
  }
  
  
  /*CODE SNIPPETS*/
  
  .typoSection .ptools {
    width: 40%;
    margin-left: -5%;
  }
  
  .typoSection .ptools h2 {
    color: #383434;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: 20%;
  }
  
  .typoSection .ptools h3 {
    color: #383434;
    margin-left: 20%;
  
  }
  
  .typoSection .ptools hr {
    width: 100%;
    margin: 10px 0;
    margin-left: 20%;
  }
  
  .typoSection .ptools p {
    color: #383434;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .codeEmbed {
    position: relative;
    padding: 20px;
    border-left: 3px solid #383434;
    background-image: linear-gradient(to right, rgb(236, 236, 236), white);
    margin-bottom: 40px;
    margin-left: 20%;
    width: 75%;
    }
  
  .codeEmbed code {
    font-size: 20px;
  }
  


  
  /* --- Farver  --- */
  
  .farverBorder {
      padding-bottom: 5%;
      border-bottom: 2px solid white;
  }
  
  
  .farveSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  .farveSection h1 {
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 40px;
    color: #383434;
    text-align: left;
    font-family: proxima-nova, sans-serif;
    margin-left: 0%;
  }
  
  .farveSection .color {
    margin: 14px 0px;
    width: 70%;
    height: 120px;
    display: flex;
    flex-direction: row;
  }
  
  .colorInfo {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5%;
    align-items: center;
  }
  
  .colorInfo div:first-child {
    margin-right: 50px;
  }
  
  .white div p {
    color: #383434;
    font-size: 20px;
    margin-left: 0%;
  }
  
  .black div p {
    color: black;
    font-size: 20px;
    margin-left: 0%;
  }


  /* --- moodaboard section  --- */
  
  
  .moodBoard {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}

.moodboardSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.moodboardSection h1 {
  margin-top: 60px;
  margin-bottom: 3%;
  font-size: 40px;
  width: 100%;
  color: #383434;
}

.moodboardSection article {
  width: 35%;
}

.moodboardSection article h2 {
  color: #383434;
  margin: 10px 0;
  font-size: 40px;
}

.moodboardSection article h3 {
  color: #383434;
}

.moodboardSection article hr {
  width: 60%;
  margin: 10px 0;
}

.moodboardSection article p {
  color: #383434;
  font-size: 20px;
  margin: 10px 0;
}


/* atomic Knapper */

.atomicknapper {
  width: 70%;
  margin-left: 5%;
  margin-top: 1%;
}

.knapperBorder .atomicheaderknapper {
  font-size: 22px;
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  
}




/*CODE SNIPPETS*/

.moodboardSection .ptools {
  width: 40%;
  margin-left: -5%;
}

.moodboardSection .ptools h2 {
  color: #383434;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 20%;
}

.moodboardSection .ptools h3 {
  color: #383434;
  margin-left: 20%;

}

.moodboardSection .ptools hr {
  width: 100%;
  margin: 10px 0;
  margin-left: 20%;
}

.moodboardSection .ptools p {
  color: #383434;
  font-size: 20px;
  margin: 10px 0;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #383434b2;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 75%;
}

.codeEmbed code {
  font-size: 20px;
}

    
  /* --- Logo section  --- */
  
  .logoBorder {
    background-color: #F0E7D4;
      padding-bottom: 5%;
      border-bottom: 2px solid white;
  }
  
  .logoSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  .logoSection h1 {
    margin-top: 60px;
    margin-bottom: 3%;
    font-size: 40px;
    width: 100%;
    color: #383434;
  }
  
  .logoSection img {
    width: 80%;
  }
  
  .logoSection h3 {
    font-size: 20px;
    color: #383434;
  }
  
  .logoSection hr {
    width: 400px;
  }
  
  .logoHvid {
    margin-top: 30px;
    padding: 14px 16px;
    width: 100%;
  }

  .logolight{  
    background-color: #383434;
   }
  
  .logoSection article {
    width: 35%;
  }
  
  .logoSection article h2 {
    color: #383434;
    margin: 10px 0;
    font-size: 40px;
  }
  
  .logoSection article h3 {
    color: #383434;
  }
  
  .logoSection article hr {
    width: 60%;
    margin: 10px 0;
  }
  
  .logoSection article p {
    color: #383434;
    font-size: 20px;
    margin: 10px 0;
  }
  
  /*Code Snippets*/
  
  .codeEmbedLogo {
    position: relative;
    padding: 20px;
    border-left: 3px solid #383434;
    background-image: linear-gradient(to right, rgb(236, 236, 236), white);
    margin-bottom: 40px;
    margin-left: 20%;
    width: 75%;
  }
  
  .codeEmbedLogo code {
    font-size: 20px;
  }
  
  .logoSection .ptools {
    width: 40%;
    margin-left: -5%;
  }
  
  .logoSection .ptools h2 {
    color: #383434;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: 20%;
  }
  
  .logoSection .ptools h3 {
    color: #383434;
    margin-left: 20%;
  
  }
  
  .logoSection .ptools hr {
    width: 100%;
    margin: 10px 0;
    margin-left: 20%;
  }
  
  .logoSection .ptools p {
    color: white;
    font-size: 20px;
    margin: 10px 0;
  }
  
  
  /* --- Knapper section  --- */
  
  
  .knapperBorder {
      padding-bottom: 5%;
      border-bottom: 2px solid white;
  }
  
  .knapperSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    font-family: proxima-nova, sans-serif;
    margin-top: 5%;
  }
  
  .knapperSection h1 {
    margin-top: 60px;
    margin-bottom: 3%;
    font-size: 40px;
    width: 100%;
    color: #383434;
  }
  
  .knapperSection article {
    width: 35%;
  }
  
  .knapperSection article h2 {
    color: #383434;
    margin: 10px 0;
    font-size: 40px;
  }
  
  .knapperSection article h3 {
    color: #383434;
  }
  
  .knapperSection article hr {
    width: 60%;
    margin: 10px 0;
  }
  
  .knapperSection article p {
    color: #383434;
    font-size: 20px;
    margin: 10px 0;
  }

  #ekstypografi2 p {
    font-size: 40px;
   }

   #ekstypografi3 p {
    font-size: 32px;
   }

   #ekstypografi4 p {
    font-size: 28px;
   }

   #ekstypografi5 p {
    font-size: 18px;
   }

  
  
  
  /* atomic Knapper */
  
  .atomicknapper {
    width: 70%;
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .knapperBorder .atomicheaderknapper {
    font-size: 22px;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
    
  }

  .btn-group .button1 {
    border: 2px solid #BA563E;
    color: #BA563E;
    width: 40%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 30px 0px 0px 30px;
  }
  .btn-group .button2 {
    border: 2px solid #BA563E;
    color: #BA563E;
    width: 40%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 0px 30px 30px 0px ;
  }
  
  .btn-group .button1:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  .btn-group .button2:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button1:hover {
    background-color: #BA563E;
    color: white;
  }
  .btn-group .button2:hover {
    background-color: #BA563E;
    color: white;
  }
  

  
  
  
  /*CODE SNIPPETS*/
  
  .knapperSection .ptools {
    width: 40%;
    margin-left: -5%;
  }
  
  .knapperSection .ptools h2 {
    color: #383434;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: 20%;
  }
  
  .knapperSection .ptools h3 {
    color: #383434;
    margin-left: 20%;
  
  }
  
  .knapperSection .ptools hr {
    width: 100%;
    margin: 10px 0;
    margin-left: 20%;
  }
  
  .Section .ptools p {
    color: #383434;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .codeEmbed {
    position: relative;
    padding: 20px;
    border-left: 3px solid #383434b2;
    background-image: linear-gradient(to right, rgb(236, 236, 236), white);
    margin-bottom: 40px;
    margin-left: 20%;
    width: 75%;
  }
  
  .codeEmbed code {
    font-size: 20px;
  }
  
  /* progress bar */

  .progress .button {
    border: 2px solid #5D7F8E;
    background-color:#5D7F8E ;
    color: white;
    width: 30%;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 0px 0px 0px 0px ;
  }
  .progress .button1 {
    border: 2px solid #5D7F8E;
    color: #5D7F8E;
    width: 30%;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 30px 0px 0px 30px ;
  }
  .progress .button2 {
    border: 2px solid #5D7F8E;
    background-color:#5D7F8E ;
    color: white;
    width: 30%;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 0px 30px 30px 0px ;
  }
  
  /* placeholder*/
  .required {
    color: tomato;
    position: absolute;
    top: 5%;
    left: 40%;
  }

  
  
  /* NAV knap */
  .navList {
    width: 300px;
    box-sizing: border-box;
    background-color: #121B2E;
    list-style: none;
    text-align: left;
    margin-top: 5%;
  }
  
  .navList a {
    top: 54%;
    text-decoration: underline;
    color: #121B2E;
    font-size: 15px;
  }
  
  
  
  /* Standard BTN */
  .standardBtn {
    display: block;
    padding: 20px 170px;
    color: white;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #383434b2;
    background-color: #BA563E;
  
    border: none;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50px;
  }

  .standardBtn:hover {
    background-color: #600000;
  }

  .standardBtnBlue {
    display: block;
    padding: 20px 170px;
    color: white;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #383434b2;
    background-color: #5D7F8E;
  
    border: none;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50px;
  }

  .standardBtnBlue:hover {
    background-color: #22313F;
  }

  
  /* --- Typografi  --- */
  
  .typoBorder {
      padding-bottom: 5%;
      border-bottom: 2px solid white;
      }
  
  
  .typoSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    font-family: proxima-nova, sans-serif;
    margin-top: 5%;
  }
  
  .typoSection h1 {
    margin-top: 60px;
    margin-bottom: 3%;
    font-size: 40px;
    width: 100%;
    color: #383434;
  }
  
  .typoSection article {
    width: 35%;
  }
  
  .typoSection article h2 {
    color: #383434;
    margin-top: 10%;
    font-size: 40px;
  }
  
  .typoSection article h3 {
    color: #383434;
    margin-top: 10%;
  }
  
  .typoSection article hr {
    width: 60%;
  }
  
  .typoSection article p {
    color: #383434;
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  
  
  #ekstypografi{
    font-size: 30px;
  }
  
  #eksoverskrift{
    font-size: 20px;
  }
  
  #eksparagraf{
  font-size: 16px;
  }
  
  #fontdl{
    cursor: pointer;
    display: inline-block;
  }
  
  
  /*CODE SNIPPETS*/
  
  .typoSection .ptools {
    width: 40%;
    margin-left: -5%;
  }
  
  .typoSection .ptools h2 {
    color: #383434;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: 20%;
  }
  
  .typoSection .ptools h3 {
    color: #383434;
    margin-left: 20%;
  
  }
  
  .typoSection .ptools hr {
    width: 100%;
    margin: 10px 0;
    margin-left: 20%;
  }
  
  .typoSection .ptools p {
    color: #383434;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .codeEmbed {
    position: relative;
    padding: 20px;
    border-left: 3px solid #383434;
    background-image: linear-gradient(to right, rgb(236, 236, 236), white);
    margin-bottom: 40px;
    margin-left: 20%;
    width: 75%;
    }
  
  .codeEmbed code {
    font-size: 20px;
  }
  
  
  
  
  
  /* input felter */
  
  .inputBorder {
      padding-bottom: 5%;
      border-bottom: 2px solid white;
      background-color: #383434;
  }
  
  
  .inputSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    font-family: proxima-nova, sans-serif;
    margin-top: 5%;
  }
  
  .inputSection h1 {
    margin-top: 60px;
    margin-bottom: 1%;
    font-size: 40px;
    width: 100%;
    color: #fff;
  }
  
  .inputSection p {
      width: 100%;
      margin-bottom: 0.5%;
      font-size: 16px;
      color: #fff;
  }
  
  .inputSection article {
    width: 35%;
  }
  
  .inputSection article h2 {
    color: #fff;
    margin-top: 5%;
    font-size: 40px;
  }
  
  .inputSection article h3 {
    color: #fff;
    margin-top: 10%;
    text-decoration: none;
  }
  
  
  
  /*INPUT PASSWORD & TEXT*/
  
  
  .inp {
      position: relative;
      margin: auto;
      width: 100%;
      max-width: 35%;
  }
  
  
  .inp .label {
      position: absolute;
      top: 10px;
      left: 0;
      color: #fff;
      transform-origin: 0 0;
      transition: all 0.2s ease;
  }
  
  
  .inp .border {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: none;
      transform: scaleX(0);
      transition: all 0.15s ease;
  }
  
  
  .inp input {
      -webkit-appearance: none;
      width: 60%;
      border: 0;
      padding: 12px 0 0px;
      height: 60px;
      border-bottom: 1px solid white;
      background: none;
    color: #fff;
      border-radius: 0;
      transition: all 0.15s ease;
    font-size: 16px;
  }
  
  
  .inp input:hover {
      background: rgba(34,50,84,0.03);
  }
  
  
  .inp input:not(:placeholder-shown) + span {
      color: #c8ccd4;
      transform: translateY(-26px) scale(0.75);
  }
  
  
  .inp input:focus {
      background: none;
      outline: none;
  }
  
  
  .inp input:focus + span {
      color: #c8ccd4;
      transform: translateY(-26px) scale(0.75);
  }
  
  
  #email_error {
    color: #BD4444;
    position: absolute;
    top: 33px;
  
  }
  
  
  #pass_error {
    color: #BD4444;
    position: absolute;
    top: 33px;
  }
  
  
  /* EMAIL ICON*/
  
  .emailinp {
      position: relative;
      color: white;
  }
  
  
  .emailinp .fa-envelope {
      position: relative;
      top: 0px;
    margin-right: 8px;
    font-size: 16px;
  }
  
  /*PASSWORD ICON*/
  
  .passinp {
      position: relative;
      color: white;
  }
  
  
  .passinp .fa-lock {
      position: relative;
      top: 0px;
    margin-right: 8px;
      font-size: 16px;
  }
  
  
  /* Checkbox */
  
  
  .checkbox {
      display: block;
      position: relative;
      text-indent: 24px;
       cursor: pointer;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: left;
    margin-top: 5%;
    color: #383434;
  
  }
  
  .checkbox u {
    color: #383434;
  }
  
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #747474;
  }
  
  
  .checkbox input:checked ~ .checkmark {
    background-color: #383434;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  .checkbox .checkmark:after {
    left: 4.5px;
    top: 3.5px;
    width: 2.5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  
  
  /*CODE SNIPPETS*/
  
  .inputSection .ptools {
    width: 40%;
    margin-left: -5%;
  }
  
  .inputSection .ptools h2 {
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: 20%;
  }
  
  .inputSection .ptools h3 {
    color: white;
    margin-left: 20%;
  
  }
  
  .inputSection .ptools hr {
    width: 100%;
    margin: 10px 0;
    margin-left: 20%;
  }
  
  .inputSection .ptools p {
    color: white;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .codeEmbed {
    position: relative;
    padding: 20px;
    border-left: 3px solid #383434;
    background-image: linear-gradient(to right, rgb(236, 236, 236), white);
    margin-bottom: 40px;
    margin-left: 20%;
    width: 75%;
  }
  
  .codeEmbed code {
    font-size: 20px;
  }
  
  
  /* atomic inputs */
  
  .atomicinputs {
    width: 70%;
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .inputBorder .atomicheaderinputs {
    font-size: 20px;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  
  
  
  /* ---  Ikoner  --- */
  
  .ikonerBorder {
      padding-bottom: 5%;
      border-bottom: 2px solid white;
  }
  
  
  .ikonerSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 5%;
    font-family: proxima-nova, sans-serif;
    margin-top: 5%;
  }
  
  .ikonerSection h1 {
    margin-top: 60px;
    margin-bottom: 5%;
    font-size: 40px;
    width: 100%;
    color: #383434;
  }
  
  .ikonerSection p {
      width: 100%;
      font-size: 16px;
      color: #383434;
  }
  
  .ikonerSection article {
    width: 35%;
  }
  
  .ikonerSection article h2 {
    color:#383434;
    margin-top: 5%;
    font-size: 40px;
  }
  
  .ikonerSection article h3 {
    color: #383434;
    margin-top: 10%;
    text-decoration: none;
  }
  
  .ikonerSection article a {
    font-size: 16px;
    color: #383434;
  }
  
  
  
  /*CODE SNIPPETS*/
  
  .ikonerSection .ptools {
    width: 40%;
    margin-left: -5%;
  }
  
  .ikonerSection .ptools h2 {
    color: #383434;
    font-size: 40px;
    margin-left: 20%;
    margin-top: 60px;
  }
  
  .ikonerSection .ptools h3 {
    color: #383434;
    margin-left: 20%;
    margin-top: 5%;
  
  }
  
  .ikonerSection .ptools hr {
    width: 100%;
    margin: 10px 0;
    margin-left: 20%;
  }
  
  .ikonerSection .ptools p {
    color: #383434;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .codeEmbed {
    position: relative;
    padding: 20px;
    border-left: 3px solid #383434;
    background-image: linear-gradient(to right, rgb(236, 236, 236), white);
    margin-bottom: 40px;
    margin-left: 20%;
    width: 75%;
  }
  
  .codeEmbed code {
    font-size: 20px;
  }
  
  
  
  /*icon-table*/
  
  .ikonerSection .ptools2 {
    width: 40%;
    margin-left: -5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5%;
  }
  
  .ikonerSection .ptools2 h2 {
    color: white;
    font-size: 40px;
    margin-left: 5%;
  }
  
  .ikonerSection .iconTable {
    width: 35%;
    margin-left: -22.5%;
    margin-top: 10%;
    font-size: 22px;
    color: white;
    background-color: #121B2E;
    font-family: proxima-nova, sans-serif;
  
  }
  
  .iconTable tr th {
    border: 1px solid white;
    padding: 1em;
    font-size: 15px;
    color: #fff;
    text-align: left;
    font-family: proxima-nova, sans-serif;
  }
  
  .fas {
    font-size: 25px;
    text-align: center;
  }
  .far {
    font-size: 25px;
    text-align: center;
  }
  
  
  /* atomic ikoner */
  
  .atomicikoner {
    width: 70%;
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .ikonerBorder .atomicheaderikoner {
    font-size: 20px;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  
  
  
  
  /* ---  Navigation  --- */
  
  .navigationBorder {
      padding-bottom: 5%;
  }
  
  
  .navigationSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    font-family: proxima-nova, sans-serif;
    margin-top: 5%;
  }
  
  .navigationSection h1 {
    margin-top: 60px;
    margin-bottom: 5%;
    font-size: 40px;
    width: 100%;
    color: #383434;
  }
  
  .navigationSection p {
      width: 100%;
      font-size: 16px;
      color: #383434;
  }
  
  .navigationSection article {
    width: 35%;
  }
  
  .navigationSection article h2 {
    color: #383434;
    margin-top: 5%;
    font-size: 40px;
  }
  
  .navigationSection article h3 {
    color: #383434;
    margin-top: 10%;
    margin-bottom: 5%;
    text-decoration: none;
  }
  
  .navigationSection article a {
    font-size: 16px;
    color: #383434;
  }
  
  
  /*CODE SNIPPETS*/
  
  .navigationSection .ptools {
    width: 40%;
    margin-left: -5%;
  }
  
  .navigationSection .ptools h2 {
    color: #383434;
    font-size: 40px;
    margin-left: 20%;
    margin-top: 60px;
  }
  
  .navigationSection .ptools h3 {
    color: #383434;
    margin-left: 20%;
    margin-top: 5%;
  
  }
  
  .navigationSection .ptools hr {
    width: 100%;
    margin: 10px 0;
    margin-left: 20%;
  }
  
  .navigationSection .ptools p {
    color: #383434;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .codeEmbed {
    position: relative;
    padding: 20px;
    border-left: 3px solid #383434;
    background-image: linear-gradient(to right, rgb(236, 236, 236), white);
    margin-bottom: 40px;
    margin-left: 20%;
    width: 75%;
  }
  
  .codeEmbed code {
    font-size: 20px;
  }
  
  
  /* MAIN NAV */
  
  
  
  .side-nav {
    height: 20em;
    width: 12em;
    /* position: fixed; */
    top: 0;
    right: 0;
    background-color: #F8C7BE    ;
    opacity: 0.98;
    overflow-y: hidden;
    transition: 0.5s;
    display: grid;
    text-decoration: none;
  }
  
  .side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    display: block;
    transition: 0.3s;
  
  }
  
  .type2{
    margin-left: 1em;
  }

  .side-nav a:hover{
    background-color: yellow;
  }
  
  .type2 a{
    margin-bottom: -0.1em;
  }
  .type2 p{
    margin-top: -0.5em;
    font-size: 0.8em;
    font-weight: 300;
  }
  
  .logout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 3em;
    color: #fff;
    margin-top: 1em;
    /* margin-top: 20em; */
  }
  .log-ud{
  grid-column: 1;
  grid-row: 1;
  }
  
  .logout a{
    grid-column: 1/-1;
    display: grid;
    align-items: center;
  }
  .logout-text{
    grid-column: 2;
    grid-row: 1;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    justify-self: start;
  }
  
  .fa-power-off {
    font-size: 0.8em;
  }
  
  
  .side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 2em;
    margin-left: 50px;
  }
  
  
  
  
  /* SUB NAV*/
  
  
  .subnav{
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-rows: 0.5fr;
  justify-items: center;
  padding-bottom: 10px;
  border: 1px solid #fff;
  }
  
  .subnav a{
    display: inline-block;
    text-align: center;
    grid-row: 1;
    font-size: 3.3vw;
      margin-top: 10%;
  }
  
  .favorit{
    grid-column: 1;
      color: #fff;
      text-decoration: none;
  }
  
  .nærmeste{
  grid-column: 2;
  color: #fff;
  text-decoration: none;
  }
  
  .underline{
    width: 60%;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    background-color: #fff;
    height: 1px;
    border-radius: 5px;
    margin-top: 25%;
    z-index: 100;
  }
  
  
  
  /* atomic navigation */
  
  .atomicnav {
    width: 70%;
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .navigationBorder .atomicheadernav {
    font-size: 20px;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  


#theNidpContent {
	/* Login-box */
	background: white; 
	margin: 0 auto 0 auto; 
	width: 400px; 
	height: 220px;
	padding: 80px 0px 0px 0px;
	border-right: 2px solid rgba(59, 59, 59, 0.3); 
	border-bottom: 2px solid rgba(59, 59, 59, 0.3); 

	background-image: url(https://i.ucl.dk/eal-logo2.svg); 
	background-repeat: no-repeat; 
	background-position: top; 
	background-position-x: 100px; 
	background-position-y: 30px;
	background-size: 45%; 
}


  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#theNidpContent {
		background-position-y: -10px;
	}
}

#globalMessage { 
	margin: 0px auto;
  	text-align: center;
	margin-right: 70px;
}

#mastheadTitle { 
  	margin-left: 0%;
}

input:focus {
	border-color: #26575e;
}


/* common controls and form elements */
	
input, textarea, select {
	color: #1f1f1f;
	font-size: 12px;
	box-shadow: none;
	border: 1px solid #dae1e1;
	border-radius: 0px;
	padding: 5px;
	}
option .first-option {
	color: #808080;
	}	
input[type="checkbox"] {
	margin-right: 5px;
	}
		
.label, .label-checkmark {
	color: #434c50;
	font-size: 13px;
	}
.label-checkmark {
	padding-right: 10px;
	}	
.label-small {
	color: #808080;
	font-size: 10px;
	}

.title {
	color:#fff;
	font-family:"Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, san-serif;
	font-size:22px;
	font-weight:200;
	letter-spacing: 1px;
	padding-top: 7px;
	padding-left: 20px;
	}	
	
.input-signin-code input  {
	font-size: 16px;
	background: transparent;
	padding: 8px;
	width: 350px;
       z-index: 110;
	}

.input-signin-username input, .input-signin-password input {
	font-size: 16px;
	background: transparent;
	padding: 8px;
	width: 250px;
       z-index: 110;
	}
.signin-div, .qr_code-div {
	position: relative;
	white-space: nowrap;
	margin-top: 15px;
	margin-left: 45px;
	}
	.qr_code-div img {
		max-width: 200px;
		}
	.label-signin, .label-signin-username, .label-signin-password, .label-signin-code  {
		position: absolute;
		top: 10px;
		left: 10px;
		color: #b8b8b8;
		font-size: 16px;
		}
	.input-signin-username, .input-signin-password  {
		position: relative;
		top: 0px;
		left: 0px;
		}

.input-signin-username, .input-signin-password  {
	position: relative;
	top: 0px;
	left: 0px;
	}
.signin-div, .qr_code-div {
	position: relative;
	white-space: nowrap;
	margin-top: 15px;
	margin-left: 45px;
	}
	.qr_code-div img {
		max-width: 200px;
		}
	.label-signin, .label-signin-username, .label-signin-password, .label-signin-code  {
		position: absolute;
		top: 10px;
		left: 10px;
		color: #b8b8b8;
		font-size: 16px;
		}
	.input-signin-username, .input-signin-password  {
		position: relative;
		top: 0px;
		left: 0px;
		color: #b8b8b8;
		font-size: 16px;
              z-index: 100;
		}
.ham-menu {
	position: absolute;
	top: 5px;
	left: 18px;
	}
.ham-menu img {
	width: 30px;
	}
	.access-card-div {
		display: inline-block;
		text-align: center;
		min-width: 54px;
		}
	.access-card {
		height: 40px;
		vertical-align: middle;
		margin-right: 15px;
		}
	.access-card-sub {
		height: 15px;
		vertical-align: middle;
		margin-right: 70px;
		}

.access-card-label-onwhite, .access-card {
	visibility: hidden;
}

.login-page {
	display: none;
	}			
.menu {
	display:none;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 15px;
	color: #f6f6f6;
	background: #434c50;
	border-radius: 3px;
	z-index: 3000;
	}
.hover {
	cursor: pointer;
	}	
	.action-but {
		display: inline-block;
		color: white;
		background: #008393; 
		padding: 5px 15px;
		margin-bottom: 5px;
		margin-right: 5px;
		margin-left: 193px;
		font-size: 14px;
		text-align: center;
    border-radius: 50px;
		
		
		}
	.action-but:hover {
		background: #00454e; /* Changed */ 
		cursor: pointer;
		}

.image-but {	
	display: inline-block;
	text-align: center;
	color: #697374;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 3px;
	margin-left: 10px;
	}
.image-but:hover {	
	background: #f6f9f8;
	border: 1px solid #eef2f2;
	}
.image-but img {
	height: 20px;
	vertical-align: text-bottom;
	}		
	
.tabs {
	position: relative;
	color: #808080;
	background: #eef2f2;
	border: 150px solid transparent;
	width: 100%;
	padding: 0;
	overflow: hidden;
	z-index: 600;
	}	
	.tabs span.spacer-tab {
		width: 40px;
		}
	.message-tab {
		position: relative;
		border-right: 0px !important;
		text-align: left !important;
		margin-left: 69px;
		padding: 10px 30px 10px 10px;
		border-left: 1px solid #dae1e1;
		}	
	.tabs div#search-but, .alert-head div#search-but {
		position: absolute;
		top: 11px;
		left: 22px;
		}
	.tabs div#search-but img {
		height: 20px;
		}
	.tabs span {
		border-bottom: 2px solid transparent;
		border-right: 1px solid #dae1e1;
		padding: 8px 10px;
		display: inline-block;
		min-width: 20px;
		text-align: center;
		}
		.tabs span.selected {
				color: #1f1f1f;
				border-bottom: 2px solid #28A9E1;
			}
		.reg-tab:hover, .custom-tab:hover {
				color: #f6f9f8;
				background: #dae1e1;
				cursor: pointer;
			}
		.last-tab {
			margin-right: 25px;
			border-right: 1px solid transparent !important;
			}	
		.custom-tab-drop {
				color: #fff;
				background: #0088CE;
			}
		.tab-drop-stop {
				color: #fff;
				border: 1px solid #0088CE;
			}
		.tab-drop-start {
				color: #15B7E8;
				background-color: #fff;
				border: 1px solid #0088CE;
				border-right: 1px solid #0088CE;
			}
		.tabs span#tab-new {
			position: relative;
			border: 0;
			}
			#tab-new img {
				position: absolute;
				top: 3px;
				width: 22px;
				}

.menu-label {
	color: #b8b8b8;
	padding: 5px 0;
	font-size: 12px;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	}
.menu-option {
	padding: 7px 10px;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	}
.menu-option a {
	color: #ffffff;
}

.menu-option a:hover{
       background: #59656a;
}

.menu-open {
	cursor: pointer;
	}	
.menu-option:hover, .menu-option-mark:hover {
	background: #59656a;
	border-radius: 2px;
	cursor: pointer;
	}
.menu-option-mark {
	position: relative;
	padding: 7px 20px;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	}
.menu-option-mark a {
	color: #ffffff;
       }
.menu-option-mark a:hover {
       background: #59656a;
       }
	img.menu-mark, img.menu-mark-2 {
		display: none;
		position: absolute;
		top: 7px;
		left: 0px;
		width: 16px;
		}
	img.menu-mark-2 {
		display: block;
		top: 17px;
		}	
.menu-separator {
	border-top: 1px solid #626e72;
	height: 5px;
	margin-top: 5px;
	}	

.content {
	position: relative;
	}

/* dialog */

.dialog {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #b8b8b8;
	border-radius: 3px;
	z-index: 2000;
	}
.dialog-title {
	color: #949494;
	padding: 10px;
	font-size: 12px;
	text-transform: uppercase;
	white-space: nowrap;
	border-bottom: 1px solid #dae1e1;
	}
.dialog-content {
	padding: 15px;
	}	
.dialog-title:hover {
	cursor: move;
	}
	
.dialog .close-but {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 20px;
	cursor: pointer;
	z-index: 2001;
	}

/* lists */

.list {
	margin-right: 20px;
	}
.list-title {
	color: #434c50;
	font-size: 14px;
	margin-bottom: 5px;
	}
.list-div {
	height: 50px;
	overflow: auto;
	}	
.list-item {
	color: #0088ce;
	font-size: 12px;
	text-decoration: none;
	padding: 2px;
	white-space: nowrap;
	}

.textarea-glow {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
.textarea-glow:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.dlg-txt {
	color: #333333; 
	font-size: 16px;
}

.dlg-grey-txt {
	color: #808080;
	font-size: 14px;
}


